* {
    box-sizing: border-box; 
}

/**
 * Random font styles defined here.
 **/
.fontstyle-1 {
    font-family: 'ZCOOL KuaiLe', cursive;
}

.fontstyle-2 {
    font-family: 'Anton', sans-serif;}

.fontstyle-3 {
    font-family: 'Gugi', cursive;
}


/**
 * Styling starts here.
 **/
html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 0;
    padding: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

.base-text {
    font-family: 'Helvetica', 'Arial', sans-serif; 
    color: #362C28;
    text-align: center;
    margin: 0;
}

#title {
    font-size: 25px;
}

#subtitle {
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
}

#shirt-text {
    font-size: 42px;
    font-weight: bold;
}

#generate-btn {
    height: 60px;
    width: 200px;
}
